@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,500;0,800;1,800&display=swap');


:root {
    --dark: #0D0D2B;
    --white: #fff;
    --font-color: #F5F5F5;
}

body {
    overflow: hidden;
    font-family: 'Inter';
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 64px;
    margin-top: 60px;
}

.main-header {
    width: 122px;
    height: 48px;
    left: 0px;
    margin-top: 182px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #212121;
}


#username,
#password {
    width: 505px;
    height: 62px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135.02%;
    letter-spacing: 0.02em;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */

    padding: 15px 25px 15px 25px;

}

#username {
    margin-top: 40px;

}

#password {
    margin-top: 15px;
}


form input::placeholder {
    color: #C8C8C8;
}

/*
#username::placeholder {



    width: 63px;
    height: 32px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135.02%;


    letter-spacing: 0.02em;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135.02%;
   

    letter-spacing: 0.02em;

    

    color: #C8C8C8;


}*/


.login-btn {

    padding: 15px 52px;


    width: 179px;
    height: 59px;

    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* кнопка 1 */

    background: #8A8EFF;
    --bs-btn-active-bg: #6E73FF;
    --bs-btn-active-border-color: #6E73FF;
    --bs-btn-hover-bg: #6E73FF;
    --bs-btn-hover-border-color: #6E73FF;
    border-color: #8A8EFF;
    border-radius: 10px;



    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #FFFFFF;
}

#back-human-1 {
    position: absolute;
    left: 0px;
    top: 109.1px;
}

#back-human-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.info {
    margin-top: 40px;
    height: 24px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    /* bw/500 */

    color: #555555;
}

.signup {
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;

    color: #6E73FF;
}