@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@400;500;700&family=Rubik:ital,wght@0,500;0,800;1,800&display=swap');

body {
    font-family: 'Inter';
    background-color: #F5F5F5;
}

.surname {
    position: absolute;
    width: 175px;
    height: 48px;
    left: 767px;
    top: 269px;

    /* Подзаголовок 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    /* bw/500 */

    color: #555555;
}

.name {
    position: absolute;
    width: 127px;
    height: 48px;
    left: 767px;
    top: 327px;

    /* Подзаголовок 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    /* bw/500 */

    color: #555555;
}

.patro {
    position: absolute;
    width: 257px;
    height: 48px;
    left: 767px;
    top: 385px;

    /* Подзаголовок 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    /* bw/500 */

    color: #555555;
}

.job-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 470px 10px 35px;

    position: absolute;
    width: 756px;
    height: 76px;
    left: 497px;
    top: calc(50% - 76px/2 - 898.5px);

    background: #FFFFFF;
    border-radius: 5px;
}

.vuz {

    position: absolute;
    width: 257px;
    height: 48px;
    left: 767px;
    top: 470px;
    width: 121px;

    /* Основной текст */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135.02%;
    /* or 32px */

    letter-spacing: 0.02em;

    color: #212121;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.napravlenie {
    position: absolute;
    width: 257px;
    height: 48px;
    left: 767px;
    top: 520px;
    height: 24px;

    /* Подписи */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* bw/500 */

    color: #555555;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.email {
    padding: 10px 25px 10px 25px;

    position: absolute;
    width: 756px;
    height: 52px;
    left: 497px;
    top: 594px;
    border-radius: 10px;
    background: #FFFFFF;
}

.telefon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 496px 10px 35px;
    gap: 10px;

    position: absolute;
    width: 756px;
    height: 52px;
    left: 497px;
    top: 666px;

    background: #FFFFFF;
}

.header-button-box {
    --bs-btn-active-bg: #d1b244;
    --bs-btn-active-border-color: #d1b244;
    --bs-btn-hover-bg: #d1b244;
    --bs-btn-hover-border-color: #d1b244;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 28px;
    gap: 10px;

    position: fixed;
    width: 120px;
    height: 44px;
    left: 1253px;
    top: 38px;

    /* кнопка 2 */

    background: #FFE173;
    border-color: #FFE173;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #606060;
    /* flex: none;
order: 0;
flex-grow: 0; */
}

.icon {
    position: absolute;
    width: 204px;
    height: 204px;
    left: 497px;
    top: 229px;
}

.fon {
    z-index: -1;
    position: fixed;
    width: 363px;
    height: 2869px;
    left: 0px;
    top: 0px;

    background: #F1F2FF;
    border-radius: 0px 30px 30px 0px;
}

.logo {

    position: fixed;
    width: 160px;
    height: 64px;
    left: 66px;
    top: 157px;

    font-family: 'Tablon';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 89%;
    /* or 32px */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #6E73FF;
}

.nav0 {
    position: fixed;
    width: 191px;
    height: 34px;
    left: 66px;
    top: 367px;

    /* Подзаголовок 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    /* bw/500 */

    color: #555555;
}

.nav1 {
    position: fixed;
    width: 157px;
    height: 34px;
    left: 66px;
    top: 446px;

    /* Подзаголовок 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    /* bw/300 */

    color: #C8C8C8;
}

.nav2 {
    position: fixed;
    width: 250px;
    height: 34px;
    left: 66px;
    top: 525px;

    /* Подзаголовок 2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    /* bw/300 */

    color: #C8C8C8;
}

.curs-h {
    position: absolute;
    width: 224px;
    height: 48px;
    left: 497px;
    top: 978px;

    /* Подзаголовок 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
}

.curs-d {
    /* Вы не зарегистрировались ни на один курс. */


    position: absolute;
    width: 800px;
    height: 32px;
    left: 632px;
    top: 1264px;

    /* Основной текст */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 135.02%;
    /* or 32px */

    letter-spacing: 0.02em;

    /* bw/300 */

    color: #C8C8C8;
}

#page1 {
    position: absolute;
    left: 0px;
    top: 912px;
}

#page2 {
    position: absolute;
    left: 0px;
    top: 1698px;
}

.curs-new-h {
    /* Подборки курсов */


    position: absolute;
    width: 358px;
    height: 48px;
    left: 497px;
    top: 1832px;

    /* Подзаголовок 1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;

}

.curs-new-d {
    position: absolute;
    width: 726px;
    height: 750px;
    left: 497px;
    top: 1929px;
    display: flex;
    flex-wrap: wrap;
}

.curs {
    width: 350px;
    height: 220px;
    flex: 0 0 auto;
    background: #D9D9D9;
    border-radius: 10px;
}

.authors1 {
    /* ООО «Мичил», 2022 */


    position: absolute;
    width: 198px;
    height: 24px;
    left: 556px;
    top: 2783px;

    /* Подписи */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* bw/800 */

    color: #212121;
}

.authors2 {
    position: absolute;
    width: 255px;
    height: 24px;
    left: 525px;
    top: 2812px;

    /* Подписи */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    /* bw/500 */

    color: #555555;
}