<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/registration.css">
    <title>Document</title>
</head>
<header>
    <a href="/">
        <img src="/static/img/biglogsvg.svg" class="main-logo" alt="">
    </a>
</header>

<body>

    <svg id="back-human-1" width="304" height="303" viewBox="0 0 304 303" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M267.584 89.1367C239.552 48.2623 197.59 18.9991 149.546 6.81995C101.502 -5.3592 50.6674 0.379852 6.54836 22.9637C-37.5707 45.5476 -71.9521 83.4296 -90.1659 129.525C-108.38 175.62 -109.178 226.772 -92.4125 273.413C-75.6467 320.055 -42.4646 358.992 0.927863 382.942C44.3203 406.892 94.9514 414.216 143.352 403.542C191.752 392.869 234.607 364.93 263.902 324.951C293.197 284.972 306.925 235.69 302.518 186.323L99.4471 204.447L267.584 89.1367Z"
            fill="#D7D8FF" />
    </svg>


    <svg id="back-human-2" width="401" height="398" viewBox="0 0 401 398" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M89.8859 316.712C140.818 365.653 207.834 394.364 278.4 397.476C348.966 400.589 418.249 377.889 473.293 333.623C528.336 289.356 565.369 226.555 577.466 156.964C589.563 87.3728 575.895 15.7581 539.019 -44.4866C502.143 -104.731 444.584 -149.48 377.107 -170.363C309.63 -191.247 236.856 -186.835 172.396 -157.953C107.937 -129.071 56.205 -77.6965 26.8768 -13.4383C-2.45135 50.8199 -7.36749 123.561 13.0478 191.181L291.203 107.203L89.8859 316.712Z"
            fill="#D7D8FF" />
    </svg>

    <div class="zagol">Регистрация</div>
    <form method="POST" action="/signup">
        <input class="form-control mb-3 surname" type="text" name="surname" placeholder="Фамилия"></div>
        <input class="form-control mb-3 name" type="text" name="name" placeholder="Имя"></div>
        <input class="form-control mb-3 patro" type="text" name="patronymic" placeholder="Отчество"></div>
        <input class="form-control mb-3 birthday" type="date" name="birthday" placeholder="ДД.ММ.ГГГГ"></div>
        <input class="form-control mb-3 vuz" type="text" name="study" placeholder="ВУЗ"></div>
        <input class="form-control mb-3 fakul" type="text" name="faculty" placeholder="Факультет"></div>
        <input class="form-control mb-3 email" type="email" name="email" placeholder="Email"></div>
        <input class="form-control mb-3 telefon" type="tel" name="number" placeholder="Телефон"></div>
        <input class="form-control mb-3 password" type="password" name="password" placeholder="Придумайте пароль"></div>
        <input class="form-control mb-3 password2" type="password" name="password2" placeholder="Повторите пароль">
        </div>
        <input class="btn btnreg" id="reg-btn" type="submit" value="Зарегистрироваться">
    </form>
    <div class="login">
        <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
    </div>
</body>

</html>